name: Develop Workflow

on:
  push:
    branches:
      - "develop"
      - "feature/**"

env:
  REGISTRY_URL: thainm
  IMAGE_NAME: uc-frontend
  BRANCH_NAME: develop

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Installing NodeJS & Yarn
        run: |
          curl -fsSL https://deb.nodesource.com/setup_19.x | bash - &&\
          apt-get install -y nodejs
          npm install --global yarn

      - name: Authenticating with Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login docker.io --username "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - uses: actions/checkout@v3

      - name: Installing dependencies
        run: yarn install

      - name: Building static files
        run: yarn build

      - name: Building Docker image
        run: |
          docker build -t $REGISTRY_URL/$IMAGE_NAME:$BRANCH_NAME-latest .
          docker tag $REGISTRY_URL/$IMAGE_NAME:$BRANCH_NAME-latest $REGISTRY_URL/$IMAGE_NAME:$BRANCH_NAME-$GITHUB_SHA

      - name: Pushing the built image to Docker Hub
        run: |
          docker push $REGISTRY_URL/$IMAGE_NAME:$BRANCH_NAME-latest
          docker push $REGISTRY_URL/$IMAGE_NAME:$BRANCH_NAME-$GITHUB_SHA

  deploy:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Creating private key from secret
        run: echo "${{ secrets.GCP_DEVELOP_SERVER_PRIVATE_KEY }}" > github-actions.pem

      - name: Changing permission of the private key
        run: chmod 400 github-actions.pem

      - name: Establishing SSH connection
        run: ssh -o StrictHostKeyChecking=no -vi github-actions.pem ${{ secrets.GCP_DEVELOP_SERVER_USER }}@${{ secrets.GCP_DEVELOP_SERVER_HOST }} "cd configuration-management; ls -la"

      - name: Checking out new repo version
        run: ssh -i github-actions.pem ${{ secrets.GCP_DEVELOP_SERVER_USER }}@${{ secrets.GCP_DEVELOP_SERVER_HOST }} "cd configuration-management; git pull origin main"

      - name: Pulling new Docker image
        run: ssh -i github-actions.pem ${{ secrets.GCP_DEVELOP_SERVER_USER }}@${{ secrets.GCP_DEVELOP_SERVER_HOST }} "cd configuration-management/; docker compose -f docker-compose-app.yaml pull frontend"

      - name: Deploying new Docker container
        run: ssh -i github-actions.pem ${{ secrets.GCP_DEVELOP_SERVER_USER }}@${{ secrets.GCP_DEVELOP_SERVER_HOST }} "cd configuration-management/; docker compose -f docker-compose-app.yaml up -d frontend"
